/* #7e9e9d
#84947e
#5e8c4c */

/* ============================== Desktop Version ============================== */
#mainAppContainer {
  background-image: url(../images/lara_sitting_with_dress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 790px;
}
/* -------------------------------- TopMenu -------------------------------- */
#topMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0 20px;
}

#topMenuTitle {
  font-family: 'Chilanka', cursive;
  color: #5e8c4c;
  font-size: 32px;
}

#topMenuNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topMenuText {
  font-family: 'Chilanka', cursive;
  color: #5e8c4c;
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */
#homeContainer {

}
/* ------------------------------------------------------------------------- */

/* ----------------------------- About Me Page ----------------------------- */


/* ------------------------------------------------------------------------- */

/* ----------------------------- Projects Page ----------------------------- */
#mainProjectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#leftProjectsContainer {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 400px;
  margin: 0 auto;
  margin-left: 60px;
  z-index: 1;
  position: relative;
  margin-top: 3em;
}

#leftProjectsSubContainer {
  padding: 20px;
}

#leftCarouselContainer {

}

.leftPageImage {
  width: 100%;
  height: 525px;
}

#rightProjectsContainer {
  box-shadow: 5px 6px 10px rgb(30, 30, 30, 0.8);
  background-color: white;
  width: 400px;
  margin: 0 auto;
  margin-right: 60px;
  z-index: 1;
  position: relative;
  margin-top: 3em;
}

#rightProjectsSubContainer {
  padding: 20px;
}

#rightCarouselContainer {

}

.rightPageImage {
  width: 100%;
  height: 525px;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------ Contact Page ------------------------------ */


/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */


/* ------------------------------------------------------------------------- */

/* ============================================================================ */


/* ============================== Tablet Version ============================== */
@media (min-width: 426px) and (max-width: 769px) {

#mainAppContainer {

}
/* -------------------------------- TopMenu -------------------------------- */
#topMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 0 20px;
}

#topMenuTitle {
  font-size: 30px;
}

#topMenuNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topMenuText {
  font-size: 20px;
  padding-left: 15px;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */


/* ------------------------------------------------------------------------- */

/* ----------------------------- About Me Page ----------------------------- */


/* ------------------------------------------------------------------------- */

/* ----------------------------- Projects Page ----------------------------- */
#mainProjectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#leftProjectsContainer {
  width: 300px;
  margin-left: 40px;
  margin-top: 8em;
}

#leftProjectsSubContainer {
  padding: 20px;
}

#leftCarouselContainer {

}

.leftPageImage {
  width: 100%;
  height: 400px;
}

#rightProjectsContainer {
  width: 300px;
  margin-right: 40px;
  margin-top: 8em;
}

#rightProjectsSubContainer {
  padding: 20px;
}

#rightCarouselContainer {

}

.rightPageImage {
  width: 100%;
  height: 400px;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------ Contact Page ------------------------------ */


/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */


/* ------------------------------------------------------------------------- */
}
/* ============================================================================ */


/* ============================== Mobile Version ============================== */
@media (max-width: 426px) {

  #mainAppContainer {
    background-image: url(../images/lara_sitting_with_dress_MOBILE.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* -------------------------------- TopMenu -------------------------------- */
#topMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 0 20px;
}

#topMenuTitle {
  font-size: 30px;
}

#topMenuNavContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topMenuText {
  font-size: 20px;
  padding: 7px 0 0 10px;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------- Home Page ------------------------------- */


/* ------------------------------------------------------------------------- */

/* ----------------------------- About Me Page ----------------------------- */


/* ----------------------------- Projects Page ----------------------------- */
#mainProjectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#leftProjectsContainer {
  width: 200px;
  margin-top: 3em;
  margin-left: 25px;
}

#leftProjectsSubContainer {
  padding: 10px;
}

#leftCarouselContainer {

}

.leftPageImage {
  width: 100%;
  height: 275px;
}

#rightProjectsContainer {
  width: 200px;
  margin-top: 3em;
  margin-right: 25px;
}

#rightProjectsSubContainer {
  padding: 10px;
}

#rightCarouselContainer {

}

.rightPageImage {
  width: 100%;
  height: 275px;
}
/* ------------------------------------------------------------------------- */

/* ------------------------------ Contact Page ------------------------------ */


/* ------------------------------------------------------------------------- */

/* -------------------------------- Footer -------------------------------- */


/* ------------------------------------------------------------------------- */
}
/* ============================================================================ */
